<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="/js/api.js"></script>
    <title>Edit User</title>
</head>
<body>
<div th:replace="~{/top-menu::menu}"></div>
<h1>Edit User</h1>
<form id="editUserForm">
    <label>
        <input type="text" name="id" th:value="${user.id}" hidden="hidden"/>
    </label>
    <label>Username: <input type="text" name="username" th:value="${user.username}"/></label><br/>
    <label>Display Name: <input type="text" name="displayName" th:value="${user.displayName}"/></label><br/>
    <label>User Type:
        <select name='userType'>
            <option th:each="userType : ${userTypes}"
                    th:value="${userType}"
                    th:text="${userType}"
                    th:selected="${user.userType == userType}"
            ></option>
        </select>
    </label>
    <label>Roles:
        <select id='availableRoles' multiple>
            <option th:each="role : ${roles}" th:value="${role.id}"
                    th:text="${role.roleName}"
                    ondblclick="addToAssignedRoles(this)"></option>
        </select>
    </label>
    <label>Assigned Roles:
        <select id='assignedRoles' multiple>
            <option th:each="role : ${user.roles}"
                    th:value="${role.id}"
                    th:text="${role.roleName}"
                    ondblclick="removeFromAssignedRoles(this)"></option>
        </select>
    </label>
    <button type="submit">Save</button>
</form>
<span id="info"></span>
<script>
    document.getElementById('editUserForm').addEventListener('submit', async (event) => {
        event.preventDefault()
        const formData = new FormData(event.target);
        const data = Object.fromEntries(formData.entries());
        data.roles = Array.from(document.getElementById('assignedRoles')).map(opt => {
            return {id: opt.value}
        });
        const result = await apiRequest('/api/users/' + data.id, 'PATCH', data);
        if (result.code === 200) {
            document.location.replace('/ui/users');
        } else {
            document.getElementById('info').innerHTML = result.message;
        }
    })

    function addToAssignedRoles(e) {
        const assignedRoles = document.getElementById('assignedRoles');
        const availableRoles = document.getElementById('availableRoles');
        moveOption(e, availableRoles, assignedRoles, removeFromAssignedRoles);
    }

    function removeFromAssignedRoles(e) {
        const assignedRoles = document.getElementById('assignedRoles');
        const availableRoles = document.getElementById('availableRoles');
        moveOption(e, assignedRoles, availableRoles, addToAssignedRoles);
    }
</script>
</body>
</html>