<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
    <script src="/js/api.js"></script>
</head>
<body>
<div th:replace="~{/top-menu::menu}"></div>
<h1>Users</h1>
<button onclick="(document.location.href = '/ui/users/create')">New User</button>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Display Name</th>
        <th>User Type</th>
    </tr>
    </thead>
    <tbody id="usersTableBody">

    </tbody>
</table>
<span id="info"></span>
<script>
    async function fetchUsers() {
        const result = await apiRequest('/api/users', 'GET');
        if (result.code === 200) {
            const tbody = document.getElementById('usersTableBody');
            tbody.innerHTML = '';
            result.data.forEach(user => {
                const row = document.createElement('tr');
                row.innerHTML = `
                <td>${user.id}</td>
                <td>${user.username}</td>
                <td>${user.displayName}</td>
                <td>${user.userType}</td>
                <td>
                    <button onclick="editUser(${user.id})">Edit</button>
                    <button onclick="deleteUser(${user.id})">Delete</button>
                    <button onclick="permissions(${user.id})">Permissions</button>
                </td>
                `;
                tbody.appendChild(row);
            })
        } else {
            document.getElementById('info').innerHTML = result.message;
        }
    }

    function editUser(userId) {
        document.location.replace('/ui/users/edit/' + userId);
    }

    function deleteUser(userId) {
        const result = apiRequest('/api/users/' + userId, 'DELETE');
        result.then((response) => {
            if (response.code === 200) {
                document.location.replace('/ui/users');
            } else {
                document.getElementById('info').innerHTML = response.message;
            }
        })
    }

    function permissions(userId) {
        document.location.replace('/ui/permission/user/' + userId);
    }

    window.onload = fetchUsers;
</script>
</body>
</html>