<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Action List</title>
    <script src="/js/api.js"></script>
</head>
<body>
<div th:replace="~{/top-menu::menu}"></div>
<h1>Actions</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody id="actionsTableBody">

    </tbody>
</table>
<span id="info"></span>
<script>
    async function fetchActions() {
        const result = await apiRequest('/api/actions', 'GET');
        if (result.code === 200) {
            const tbody = document.getElementById('actionsTableBody');
            tbody.innerHTML = '';
            console.log(result.data);
            result.data.forEach(action => {
                const row = document.createElement('tr');
                row.innerHTML = `
                <td>${action.id}</td>
                <td>${action.code}</td>
                <td>${action.description}</td>
                `;
                tbody.appendChild(row);
            })
        } else {
            document.getElementById('info').innerHTML = result.message;
        }
    }

    function editAction(actionId) {
        document.location.replace('/ui/actions/edit/' + actionId);
    }

    function deleteAction(actionId) {
        const result = apiRequest('/api/actions/' + actionId, 'DELETE');
        result.then((response) => {
            if (response.code === 200) {
                document.location.replace('/ui/actions');
            } else {
                document.getElementById('info').innerHTML = response.message;
            }
        })
    }

    window.onload = fetchActions;
</script>
</body>
</html>