<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resource List</title>
    <script src="/js/api.js"></script>
</head>
<body>
<div th:replace="~{/top-menu::menu}"></div>
<h1>Resources</h1>
<button onclick="(document.location.href = '/ui/resources/create')">New Resource</button>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody id="resourcesTableBody">

    </tbody>
</table>
<span id="info"></span>
<script>
    async function fetchUsers() {
        const result = await apiRequest('/api/resources', 'GET');
        if (result.code === 200) {
            const tbody = document.getElementById('resourcesTableBody');
            tbody.innerHTML = '';
            result.data.forEach(resource => {
                const row = document.createElement('tr');
                row.innerHTML = `
                <td>${resource.id}</td>
                <td>${resource.code}</td>
                <td>${resource.description}</td>
                <td>
                    <button onclick="editResource(${resource.id})">Edit</button>
                    <button onclick="deleteResource(${resource.id})">Delete</button>
                </td>
                `;
                tbody.appendChild(row);
            })
        } else {
            document.getElementById('info').innerHTML = result.message;
        }
    }

    function editResource(resourceId) {
        document.location.replace('/ui/resources/edit/' + resourceId);
    }

    function deleteResource(resourceId) {
        const result = apiRequest('/api/resources/' + resourceId, 'DELETE');
        result.then((response) => {
            if (response.code === 200) {
                document.location.replace('/ui/resources');
            } else {
                document.getElementById('info').innerHTML = response.message;
            }
        })
    }

    window.onload = fetchUsers;
</script>
</body>
</html>