<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Role List</title>
    <script src="/js/api.js"></script>
</head>
<body>
<div th:replace="~{/top-menu::menu}"></div>
<h1>Roles</h1>
<button onclick="(document.location.href = '/ui/roles/create')">New Role</button>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Role name</th>
    </tr>
    </thead>
    <tbody id="rolesTableBody">

    </tbody>
</table>
<span id="info"></span>
<script>
    async function fetchUsers() {
        const result = await apiRequest('/api/roles', 'GET');
        if (result.code === 200) {
            const tbody = document.getElementById('rolesTableBody');
            tbody.innerHTML = '';
            result.data.forEach(role => {
                const row = document.createElement('tr');
                row.innerHTML = `
                <td>${role.id}</td>
                <td>${role.roleName}</td>
                <td>
                    <button onclick="editRole(${role.id})">Edit</button>
                    <button onclick="deleteRole(${role.id})">Delete</button>
                    <button onclick="permissions(${role.id})">Permissions</button>
                </td>
                `;
                tbody.appendChild(row);
            })
        } else {
            document.getElementById('info').innerHTML = result.message;
        }
    }

    function editRole(roleId) {
        document.location.replace('/ui/roles/edit/' + roleId);
    }

    function deleteRole(roleId) {
        const result = apiRequest('/api/roles/' + roleId, 'DELETE');
        result.then((response) => {
            if (response.code === 200) {
                document.location.replace('/ui/roles');
            } else {
                document.getElementById('info').innerHTML = response.message;
            }
        })
    }

    function permissions(roleId) {
        document.location.replace('/ui/permission/role/' + roleId);
    }

    window.onload = fetchUsers;
</script>
</body>
</html>